<!-- If you want to change the case cockpit you can create a new component <app-my-live-apps-case-cockpit> that extends the <tcla-live-apps-case-cockpit>
     You can copy the existing template from the original tcla-live-apps-case-cockpit from the source repo (https://github.com/TIBCOSoftware/TCST-Angular)
     Then modify the template as required and use <app-my-live-apps-case-cockpit> instead of <tcla-live-apps-case-cockpit>
-->

<tcla-live-apps-case-cockpit fxFill [typeId]="typeId" [appId]="appId" [uiAppId]="generalConfig.uiAppId" [sandboxId]="sandbox.id" [caseRef]="caseRef" [userId]="claims.id" [layout]="layout" [exclRecentAppIds]="exclRecentAppIds" [roles]="roles" [access]="access" [customFormDefs]="customFormDefs" (routeAction)="handleRouteAction($event)" >
  <!--  You can project buttons into the navbar here (note must use 'customToolbarContent' attribute to tag content to be projected into toolbar) -->
  <!--mat-button-toggle-group customToolbarContent name="view">
    <mat-button-toggle
                       value="Projected Button">'Projected Button2'</mat-button-toggle>
  <mat-button-toggle
    value="Projected Button2">'Projected Button2'</mat-button-toggle>
  </mat-button-toggle-group-->

  <!-- If you want to add custom tabs to the case data page you can project them here and they will appear as new tabs in the case data pane -->
  <!-- mat-tab #projectedTab label="projected1">
    <span>I am projected</span>
  </mat-tab>
  <mat-tab #projectedTab label="projected2">
    <span>I am also projected</span>
  </mat-tab-->
</tcla-live-apps-case-cockpit>
