<!-- Use the tc-liveapps-lib home cockpit component for the cockpit
     Note the component 'emits' the routeActione event that is handled by handleRouteAction() method -->
<app-iot-home-cockpit fxFlex [uiAppId]="generalConfig.uiAppId" [sandboxId]="sandboxId" [appIds]="liveAppsConfig.applicationIds" [userId]="userId" [userName]="userName" [email]="email" [title]="welcomeMessage" [roles]="roles" [access]="access" [customFormDefs]="customFormDefs" (routeAction)="handleRouteAction($event)">
  <!--  You can project buttons into the navbar here (note must use 'customToolbarContent' attribute to tag content to be projected into toolbar) -->
  <!-- mat-button-toggle-group customToolbarContent name="view">
    <mat-button-toggle
                       value="Projected Button">'Projected Button2'</mat-button-toggle>
  <mat-button-toggle
    value="Projected Button2">'Projected Button2'</mat-button-toggle>
  </mat-button-toggle-group -->
</app-iot-home-cockpit>

<!-- If you want to change the home cockpit you can create a new component <app-my-live-apps-home-cockpit> that extends the <tcla-live-apps-home-cockpit>
     You can copy the existing template from the original tcla-live-apps-home-cockpit from the source repo (https://github.com/TIBCOSoftware/TCST-Angular)
     Then modify the template as required and use <app-my-live-apps-home-cockpit> instead of <tcla-live-apps-home-cockpit>
-->
