.mat-sidenav-container {
    height: 100%;
  }
  
  
  
  .toolbar-title {
    margin: 0 16px 0 16px;
  }
  
  .mat-subheader {
    font-size: 18px;
    font-weight: 900;
  }
  
  .app-nav-list-icon {
    margin: 0 12px 0 12px;
  }