# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output

# dependencies

# profiling files

# IDEs and editors

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc

# System Files
.DS_Store
