.profile-tree-invisible {
    display: none;
  }
  
  .profile-tree ul,
  .profile-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }

  .txtColor:hover{
    color: red;
    cursor: pointer;
  }
  
  .background-highlight{
    background: #afb0b1;
  }

  .profile-header {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 5px; 
  }
