<div class="tcs-home-content" fxLayout="column" fxFlex="grow" fxLayoutAlign="start stretch"
  style="padding-left: 20px; padding-right: 20px; margin-top: 10px;">

  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-form-field fxFlex="40%">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter Subscriptions">
    </mat-form-field>
  </div>

  <div fxLayout="column" fxLayoutGap="20px" style="height: 100%;">
    <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="space-between stretch" style="min-height: 300px">
      <mat-card fxFlex>
        <mat-card-header>
          <div mat-card-avatar class="device-header-image"></div>
          <mat-card-title>Subscriptions</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="table-container mat-elevation-z8">
            <table mat-table [dataSource]="subscriptionsDataSource" matSort>

              <!-- Id Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let subscription"> {{subscription.uid}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let subscription"> {{subscription.name}} </td>
              </ng-container>

              <!-- Consumer Column -->
              <ng-container matColumnDef="consumer">
                <th mat-header-cell *matHeaderCellDef> Consumer </th>
                <td mat-cell *matCellDef="let subscription"> {{subscription.consumer}} </td>
              </ng-container>

              <!-- Created -->
              <ng-container matColumnDef="created">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Created </th>
                <td mat-cell *matCellDef="let subscription"> {{subscription.created | date: dateFormat}} </td>
              </ng-container>

              <!-- Updated -->
              <ng-container matColumnDef="modified">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Modified </th>
                <td mat-cell *matCellDef="let subscription"> {{subscription.modified | date: dateFormat}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="subscriptionDisplayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: subscriptionDisplayedColumns;"
                (click)="onSubscriptionClicked(row)" [ngClass]="{'selected': subscriptionSelection.isSelected(row) }">
              </tr>
            </table>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px" style="min-height: 300px">
      <mat-card fxFlex>
        <mat-card-header>
          <div mat-card-avatar class="device-header-image"></div>
          <mat-card-title>Subscription Details</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="subscriptionForm" class="subscription-form" fxLayout="row wrap" fxLayoutGap="15px">

            <div fxLayout="row" fxFlex="100%" fxLayoutGap="15px">
              <mat-form-field fxFlex="1 1 18%" appearance="outline">
                <mat-label>Enabled</mat-label>
                <mat-select formControlName="enabled">
                  <mat-option *ngFor="let item of boolList" [value]="item.value">
                    {{item.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field fxFlex="1 1 18%" appearance="outline">
                <mat-label>Publisher Name</mat-label>
                <input matInput [readonly]=false formControlName="publisher">
              </mat-form-field>
              <mat-form-field fxFlex="1 1 18%" appearance="outline">
                <mat-label>Subscription Name</mat-label>
                <input matInput [readonly]=false formControlName="name">
              </mat-form-field>
              <mat-form-field fxFlex="1 1 18%" appearance="outline">
                <mat-label>Consumer Name</mat-label>
                <input matInput [readonly]=false formControlName="consumer">
              </mat-form-field>
              <mat-form-field fxFlex="1 1 18%" appearance="outline">
                <mat-label>Destination</mat-label>
                <mat-select formControlName="destination">
                  <mat-option *ngFor="let item of destinations" [value]="item.value">
                    {{item.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div fxLayout="row" fxFlex="100%" fxLayoutGap="15px">
              <mat-form-field fxFlex="1 1 18%" appearance="outline">
                <mat-label>Protocol</mat-label>
                <mat-select formControlName="protocol">
                  <mat-option *ngFor="let item of protocols" [value]="item.value">
                    {{item.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field fxFlex="1 1 18%" appearance="outline">
                <mat-label>Method</mat-label>
                <mat-select formControlName="method">
                  <mat-option *ngFor="let item of methods" [value]="item.value">
                    {{item.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field fxFlex="1 1 18%" appearance="outline">
                <mat-label>Address</mat-label>
                <input matInput [readonly]=false formControlName="address">
              </mat-form-field>
              <mat-form-field fxFlex="1 1 18%" appearance="outline">
                <mat-label>Port</mat-label>
                <input matInput [readonly]=false formControlName="port">
              </mat-form-field>
              <mat-form-field fxFlex="1 1 18%" appearance="outline">
                <mat-label>Path</mat-label>
                <input matInput [readonly]=false formControlName="path">
              </mat-form-field>
            </div>

            <div fxLayout="row" fxFlex="100%" fxLayoutGap="15px">
              <mat-form-field fxFlex="1 1 18%" appearance="outline">
                <mat-label>Topic</mat-label>
                <input matInput [readonly]=false formControlName="topic">
              </mat-form-field>
              <mat-form-field fxFlex="1 1 18%" appearance="outline">
                <mat-label>Format</mat-label>
                <mat-select formControlName="format">
                  <mat-option *ngFor="let item of formats" [value]="item.value">
                    {{item.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field fxFlex="1 1 18%" appearance="outline">
                <mat-label>Compression</mat-label>
                <mat-select formControlName="compression">
                  <mat-option *ngFor="let item of compressions" [value]="item.value">
                    {{item.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div fxLayout="row" fxFlex="100%" fxLayoutGap="15px">
              <mat-form-field fxFlex="1 1 18%" appearance="outline">
                <mat-label>User</mat-label>
                <input matInput [readonly]=false formControlName="user">
              </mat-form-field>
              <mat-form-field fxFlex="1 1 18%" appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Enter your password" [readonly]=false
                  [type]="hidePassword ? 'password' : 'text'" formControlName="password">
                <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                  [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                  <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
              <mat-form-field fxFlex="1 1 18%" appearance="outline">
                <mat-label>Encryption Algorithm</mat-label>
                <mat-select formControlName="encryptionAlgorithm">
                  <mat-option *ngFor="let item of encryptions" [value]="item.value">
                    {{item.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field fxFlex="1 1 18%" appearance="outline">
                <mat-label>Encryption Key</mat-label>
                <input matInput [readonly]=false formControlName="encryptionKey">
              </mat-form-field>
              <mat-form-field fxFlex="1 1 18%" appearance="outline">
                <mat-label>Initializing Vector</mat-label>
                <input matInput [readonly]=false formControlName="initializingVector">
              </mat-form-field>

            </div>


            <div fxLayout="row" fxFlex="100%" fxLayoutGap="15px">
              <mat-form-field fxFlex="1 1 36%" appearance="outline">
                <mat-label>Device Filters</mat-label>
                <input matInput [readonly]=false formControlName="deviceIdentifierFilter">
              </mat-form-field>
              <mat-form-field fxFlex="1 1 36%" appearance="outline">
                <mat-label>Value Descriptor Filter</mat-label>
                <input matInput [readonly]=false formControlName="valueDescriptorFilter">
              </mat-form-field>
            </div>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button [disabled]="graphOpsDisabled" (click)="addSubscription()" color="primary">Add Subscriber</button>
          <button mat-raised-button [disabled]="graphOpsDisabled" (click)="updateSubscription()" color="primary">Update Subscriber</button>
          <button mat-raised-button [disabled]="edgeOpsDisabled" (click)="deleteSubscription()" color="primary">Remove Subscriber</button>
          <button mat-raised-button [disabled]="edgeOpsDisabled" (click)="addRegistration()" color="primary">Add Subscription</button>
          <button mat-raised-button [disabled]="edgeOpsDisabled" (click)="updateRegistration()" color="primary">Update Subscription</button>
          <button mat-raised-button [disabled]="edgeOpsDisabled" (click)="deleteRegistration()" color="primary">Remove Subscription</button>
        </mat-card-actions>
      </mat-card>
    </div>

  </div>

</div>