<div class="tcs-home-content" fxLayout="column" fxFlex="grow" fxLayoutAlign="start stretch"
    style="padding-left: 20px; padding-right: 20px; margin-top: 10px;">

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px">
        <mat-form-field fxFlex="1 1 18%" appearance="standard">
            <mat-label>Select a Gateway</mat-label>
            <mat-select (selectionChange)="onGatewaySelected($event)">
                <mat-option *ngFor="let item of gatewayList; let i = index" [value]="i">
                    {{item.uuid}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="1 1 40%" appearance="standard">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter Rules">
        </mat-form-field>
    </div>

    <div fxLayout="column" fxLayoutGap="20px" style="height: 100%;">
        <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="space-between stretch" style="min-height: 300px">
            <mat-card fxFlex>
                <mat-card-header>
                    <div mat-card-avatar class="rule-header-image"></div>
                    <mat-card-title>Rules</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="table-container mat-elevation-z8">
                        <table mat-table [dataSource]="rulesDataSource" matSort>

                            <!-- Id Column -->
                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef> Id </th>
                                <td mat-cell *matCellDef="let rule"> {{rule.uid}} </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> Name </th>
                                <td mat-cell *matCellDef="let rule"> {{rule.name}} </td>
                            </ng-container>

                            <!-- Description Column -->
                            <ng-container matColumnDef="description">
                                <th mat-header-cell *matHeaderCellDef> Description </th>
                                <td mat-cell *matCellDef="let rule"> {{rule.description}} </td>
                            </ng-container>

                            <!-- Created -->
                            <ng-container matColumnDef="created">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Created </th>
                                <td mat-cell *matCellDef="let rule"> {{rule.created | date: dateFormat}}
                                </td>
                            </ng-container>

                            <!-- Updated -->
                            <ng-container matColumnDef="modified">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Modified </th>
                                <td mat-cell *matCellDef="let rule">
                                    {{rule.modified | date: dateFormat}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="ruleDisplayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: ruleDisplayedColumns;"
                                (click)="onRuleClicked(row)" [ngClass]="{'selected': ruleSelection.isSelected(row) }">
                            </tr>
                        </table>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxLayout="column" fxLayoutAlign="" fxLayoutGap="15px" style="min-height: 300px">
            <mat-card fxFlex>
                <mat-card-header>
                    <div mat-card-avatar class="rule-header-image"></div>
                    <mat-card-title>Rule Definition</mat-card-title>
                </mat-card-header>
                <mat-card-content>

                    <form [formGroup]="ruleForm" class="rule-form" fxLayout="row wrap" fxLayoutGap="15px">

                        <p class="mat-h3">General</p>
                        <mat-divider [inset]="true"></mat-divider>

                        <div fxLayout="row" fxFlex="100%" fxLayoutGap="15px" style="padding-top: 10px">
                            <mat-form-field fxFlex="1 1 18%" appearance="standard">
                                <mat-label>Rule Name</mat-label>
                                <input matInput [readonly]=false formControlName="name">
                            </mat-form-field>
                            <mat-form-field fxFlex="1 1 18%" appearance="standard">
                                <mat-label>Rule Description</mat-label>
                                <input matInput [readonly]=false formControlName="description">
                            </mat-form-field>
                        </div>

                        <p class="mat-h3">Conditions</p>
                        <mat-divider [inset]="true"></mat-divider>

                        <div fxLayout="row" fxFlex="100%" fxLayoutGap="15px" style="padding-top: 10px">
                            <mat-form-field fxFlex="1 1 18%" appearance="standard">
                                <mat-label>Select a Device</mat-label>
                                <mat-select (selectionChange)="onConditionDeviceSelected($event)"
                                    formControlName="condDevice">
                                    <mat-option *ngFor="let item of devicesDataSource.data; let i = index"
                                        [value]="item.name">
                                        {{item.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field fxFlex="1 1 18%" appearance="standard">
                                <mat-label>Select a Metric</mat-label>
                                <mat-select formControlName="condResource">
                                    <mat-option *ngFor="let item of conditionResourcesDataSource.data"
                                        [value]="item.name">
                                        {{item.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                        </div>

                        <div fxLayout="row" fxFlex="100%" fxLayoutGap="15px" style="padding-top: 10px">

                            <mat-checkbox fxFlex="1 1 18%" formControlName="condCompareNewMetricToValue"> New Metric
                                Value
                            </mat-checkbox>

                            <mat-form-field fxFlex="1 1 18%" appearance="standard">
                                <mat-label>Select operation</mat-label>
                                <mat-select formControlName="condCompareNewMetricToValueOp">
                                    <mat-option *ngFor="let item of operations" [value]="item.value">
                                        {{item.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field fxFlex="1 1 18%" appearance="standard">
                                <mat-label>Value</mat-label>
                                <input matInput [readonly]=false formControlName="condCompareNewMetricValue">
                            </mat-form-field>
                        </div>

                        <div fxLayout="row" fxFlex="100%" fxLayoutGap="15px" style="padding-top: 10px">

                            <mat-checkbox fxFlex="1 1 18%" formControlName="condCompareNewMetricToLastMetric">New Metric
                                Value
                            </mat-checkbox>

                            <mat-form-field fxFlex="1 1 18%" appearance="standard">
                                <mat-label>Select operation</mat-label>
                                <mat-select formControlName="condCompareNewMetricToLastMetricOp">
                                    <mat-option *ngFor="let item of operations" [value]="item.value">
                                        {{item.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-label class="mat-label">Last Metric Value</mat-label>
                        </div>

                        <div fxLayout="row" fxFlex="100%" fxLayoutGap="15px" style="padding-top: 10px">

                            <mat-checkbox fxFlex="1 1 18%" formControlName="condCompareLastMetricToValue"> Last Metric
                                Value
                            </mat-checkbox>

                            <mat-form-field fxFlex="1 1 18%" appearance="standard">
                                <mat-label>Select operation</mat-label>
                                <mat-select formControlName="condCompareLastMetricToValueOp">
                                    <mat-option *ngFor="let item of operations" [value]="item.value">
                                        {{item.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field fxFlex="1 1 18%" appearance="standard">
                                <mat-label>Value</mat-label>
                                <input matInput [readonly]=false formControlName="condCompareLastMetricValue">
                            </mat-form-field>
                        </div>

                        <p class="mat-h3">Actions</p>
                        <mat-divider [inset]="true"></mat-divider>

                        <div fxLayout="row" fxFlex="100%" fxLayoutGap="15px" style="padding-top: 10px">

                            <mat-checkbox fxFlex="1 1 18%" formControlName="actionSendNotification">Send Notification
                            </mat-checkbox>

                            <mat-form-field fxFlex="1 1 18%" appearance="standard">
                                <mat-label>Notification Text</mat-label>
                                <input matInput [readonly]=false formControlName="actionNotification">
                            </mat-form-field>
                        </div>

                        <div fxLayout="row" fxFlex="100%" fxLayoutGap="15px" style="padding-top: 10px">

                            <mat-checkbox fxFlex="1 1 18%" formControlName="actionSendCommand">Send Command
                            </mat-checkbox>

                            <mat-form-field fxFlex="1 1 18%" appearance="standard">
                                <mat-label>Select a Device</mat-label>
                                <mat-select (selectionChange)="onActionDeviceSelected($event)"
                                    formControlName="actionDevice">
                                    <mat-option *ngFor="let item of devicesDataSource.data; let i = index"
                                        [value]="item.name">
                                        {{item.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field fxFlex="1 1 18%" appearance="standard">
                                <mat-label>Select a Metric</mat-label>
                                <mat-select formControlName="actionResource">
                                    <mat-option *ngFor="let item of actionResourcesDataSource.data; let i = index"
                                        [value]="item.name">
                                        {{item.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field fxFlex="1 1 18%" appearance="standard">
                                <mat-label>Value</mat-label>
                                <input matInput [readonly]=false formControlName="actionValue">
                            </mat-form-field>
                        </div>


                    </form>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button [disabled]="ruleForm.pristine || ruleForm.invalid" (click)="addRule()"
                        color="primary">Add
                        Rule</button>
                    <button mat-raised-button
                        [disabled]="ruleForm.pristine || ruleForm.invalid || ruleSelection.isEmpty()"
                        (click)="updateRule()" color="primary">Update Rule</button>
                    <button mat-raised-button [disabled]="ruleForm.dirty || ruleForm.invalid || ruleSelection.isEmpty()"
                        (click)="deleteRule()" color="primary">Delete
                        Rule</button>
                    <button mat-raised-button [disabled]="ruleForm.dirty || ruleForm.invalid || ruleSelection.isEmpty()"
                        (click)="deployRule()" color="primary">Deploy Rule</button>
                    <button mat-raised-button [disabled]="ruleForm.dirty || ruleForm.invalid || ruleSelection.isEmpty()"
                        (click)="undeployRule()" color="primary">Undeploy Rule</button>
                </mat-card-actions>
            </mat-card>
        </div>

    </div>

</div>