<div fxLayout="column" fxFlex>
    <!-- <div>
      <tc-tibco-cloud-menu-bar [burgerMenuButtons]="burgerMenuButtons" [toolbarButtons]="toolbarButtons" [headerText]="title"
                               (toolbarButtonEvent)="handleToolbarButtonEvent($event)" (burgerMenuButtonEvent)="handleBurgerMenuClick($event)">
        <div>
          <ng-content select="[customToolbarContent]" fxFlex></ng-content>
          <tcla-live-apps-application-create-button *ngIf="caseStartButtonActive"
                                                    style="margin-right: 20px; margin-left: 20px" [sandboxId]="sandboxId"
                                                    [appIds]="appIds"
                                                    (selection)="handleCreatorAppSelection($event)"></tcla-live-apps-application-create-button>
        </div>
      </tc-tibco-cloud-menu-bar>
    </div> -->
    <div class="tcs-home-content"
         style="padding-left: 20px; padding-right: 20px; margin-top: 10px; padding-bottom: 120px; height: calc(100% - 86px); display: block;">
      <div style="height: 100%;">
        <div class="searchCasesWidget" style="min-height: 86px;">
          <tcla-live-apps-search-widget fxFlex [appIds]="appIds" [sandboxId]="sandboxId" [uiAppId]="uiAppId"
                                        (caseSelected)="clickCaseAction($event)"></tcla-live-apps-search-widget>
        </div>
        <!--div style="background-color: red; height: 600px; width: 100%;">TEST BOX</div-->
        <!--div fxFlex="noshrink" style="margin-bottom: 20px; overflow: auto; min-height: 400px" fxLayoutGap="20px" fxLayout="row" fxLayout.lt-md="column"-->
        <div style="margin-bottom: 20px; overflow: hidden; height: 100%; min-height: 750px; padding-bottom: 10px;" fxLayoutGap="20px"
             fxLayout="row" fxLayout.lt-md="column">
          <div fxFlex.gt-sm="grow" fxLayout="row" style="" [ngStyle.lt-md]="'min-height: 400px;'">
            <mat-tab-group fxFlex>
              <mat-tab label="Recent Cases">
                <ng-template matTabContent>
                  <div class="recentCasesWidget" fxFill>
                    <tcla-live-apps-recent-cases class="padded-widget" [showHeader]="true" [sandboxId]="sandboxId"
                                                 [uiAppId]="uiAppId"
                                                 (clickCase)="clickCaseAction($event)"></tcla-live-apps-recent-cases>
                  </div>
                </ng-template>
              </mat-tab>
              <mat-tab label="Favorite Cases">
                <ng-template matTabContent>
                  <div class="favoriteCasesWidget" fxFill>
                    <tcla-live-apps-favorite-cases class="padded-widget" [showHeader]="true" [sandboxId]="sandboxId"
                                                   [uiAppId]="uiAppId"
                                                   (clickCase)="clickCaseAction($event)"></tcla-live-apps-favorite-cases>
                  </div>
                </ng-template>
              </mat-tab>
              <mat-tab *ngIf="legacyWorkitems" label="Workitems">
                <ng-template matTabContent>
                  <div class="favoriteCasesWidget" fxFill>
                    <tcla-live-apps-workitems #componentDiv class="padded-widget" [showHeader]="true"
                                              [sandboxId]="sandboxId"
                                              [uiAppId]="uiAppId" [appIds]="appIds"
                                              (clickCase)="clickCaseAction($event)"></tcla-live-apps-workitems>
                  </div>
                </ng-template>
              </mat-tab>
            </mat-tab-group>
          </div>
          <div fxFlex.gt-sm="40" fxLayout="column" [ngStyle.lt-md]="'min-height: 400px'">
            <div style="padding-top: 48px; height: 350px;">
              <tcla-live-apps-active-cases-widget [sandboxId]="sandboxId" [appIds]="appIds" [showHeader]="true"
                                                  [showPercentages]="true" [uiAppId]="uiAppId"
                                                  (selectedCaseTypeState)="handleReportCaseTypeStateSelection($event)"
                                                  (selectedCaseType)="handleReportCaseTypeSelection($event)"></tcla-live-apps-active-cases-widget>
            </div>
            <div fxFlex="noshrink" style="height: 350px;">
              <mat-tab-group fxFlex>
                <mat-tab label="Collaboration">
                  <div fxFill class="collaborationWidget">
                    <tcla-live-apps-notes [userId]="userId" [showHeader]="true" [relatedItemId]="uiAppId"
                                          [relatedItemType]="'CASE_APP'"></tcla-live-apps-notes>
                  </div>
                </mat-tab>
                <mat-tab label="Documents">
                  <div fxFill class="documentWidget">
                    <tcla-live-apps-documents [showHeader]="true" [sandboxId]="sandboxId" [folderId]="uiAppId + '_Docs'"
                                              [folderType]="'orgFolders'"
                                              [folderDescription]="'Document Library'"></tcla-live-apps-documents>
                  </div>
                </mat-tab>
              </mat-tab-group>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>