+++
title = "Project AIR™"
linkTitle = "home"

+++

{{< blocks/cover title="Project AIR™" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "about/" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-warning mr-3 mb-4" href="https://github.com/TIBCOSoftware/labs-air/tree/master/">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">
	<h1>Intelligent insights from device to boardroom</h1></p>
	<div class="mx-auto mt-5">
		{{< blocks/link-down color="dark" >}}
	
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
Project AIR™ by **TIBCO LABS™** 

With Project AIR™, you can register and interact with IoT Device Farm to process derived data anywhere that is needed and store the data as needed to analyze and address a large number of analytical use cases extending any layer of its architecture as needed.
Connect your IoT Device Farm and take action in TIBCO's connected intelligence cloud.

{{% /blocks/lead %}}



{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fas fa-book" title="Get Started" url="docs/" %}}
Follow the documentation, and start today !
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-box-open" title="User Guide" url="docs/users-guide/" %}}
How we benefit from TIBCO Cloud™.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-flask" title="Releases" url="blog/" %}}
Find latest release details in our Blog.
{{% /blocks/feature %}}

<div class="mx-auto mt-5">
		{{< blocks/link-down color="info" >}}
</div>

{{< /blocks/section >}}



{{< blocks/section >}}

{{% blocks/feature icon="far fa-comments" title="Contact us!" url="community/" %}}
Reach us for more details, or engage us today !
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/TIBCOSoftware/labs-air" %}}
We do a [Pull Request](https://github.com/TIBCOSoftware/labs-air/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/hashtag/TIBCOLabs?f=live" %}}
For announcement of latest features etc...
{{% /blocks/feature %}}

{{< /blocks/section >}}

