+++
title = "Project ART"
linkTitle = "home"

+++

{{< blocks/cover title="Project ART" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "about/" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-warning mr-3 mb-4" href="https://github.com/TIBCOSoftware/Augmented-Reality/tree/master/packages">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">
	<h1>Making the virtual world real</h1></p>
	<div class="mx-auto mt-5">
		{{< blocks/link-down color="dark" >}}
	
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
Project ART by **TIBCO LABS™** 

Connect Enterprise Data and take actions is everything in any future Augmented Reality AR/XR Implementation. The here provided packages allows quick and easy usage of TIBCO® Product Offerings inside Augmented Reality AR/XR Solutions. <br><br> We are looking to provide simple connectivity samples to connect to TIBCO Cloud™ Offerings and On-Prem Products, plus other useful Assets.

{{% /blocks/lead %}}



{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fas fa-book" title="Get Started" url="docs/getting-started/" %}}
Follow the documentation, and start today !<br>
You can find here more details about upcoming Packages and Samples.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-box-open" title="Packages and Samples" url="docs/packages-and-samples/" %}}
All reusable Components implemented for Unity3D, to be used with Google Android Phones and Tablets or Microsoft Hololens, they can be quickly reused inside of TIBCO Cloud™ connected experiences.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-flask" title="Explorations" url="docs/explorations/" %}}
Learn more about what other Ideas we have explored
{{% /blocks/feature %}}

<div class="mx-auto mt-5">
		{{< blocks/link-down color="info" >}}
</div>

{{< /blocks/section >}}



{{< blocks/section >}}

{{% blocks/feature icon="far fa-comments" title="Contact us!" url="community/" %}}
Reach us for more details, or engage us today !
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/TIBCOSoftware/augmented-reality" %}}
We do a [Pull Request](https://github.com/TIBCOSoftware/augmented-reality/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/hashtag/TIBCOLabs?f=live" %}}
For announcement of latest features etc...
{{% /blocks/feature %}}

{{< /blocks/section >}}

