<div fxLayout="column" class="air-top-level" fxFlex>
  <div>
    <tc-tibco-cloud-menu-bar [toolbarButtons]="toolbarButtons" [headerText]="title" (toolbarButtonEvent)="handleToolbarButtonEvent($event)" [burgerMenuButtons]="burgerMenuButtons"
      (burgerMenuButtonEvent)="handleBurgerMenuButtonEvent($event)">
      <tcla-live-apps-application-create-button [sandboxId]="sandboxId" [appIds]="appIds" (selection)="handleCreatorAppSelection($event)" fxFlex="33" fxLayoutAlign="end none">
      </tcla-live-apps-application-create-button>
    </tc-tibco-cloud-menu-bar>
  </div>

  <div class="tcs-home-content" fxLayout="column" fxFlex="grow" fxLayoutAlign="start stretch" style="padding-left: 20px; padding-right: 20px; margin-top: 10px;">
    <router-outlet></router-outlet>
  </div>
</div>
