.table-container {
    overflow: auto;
    height: 500px;
}
  
table {
    width: 100%;
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}
  
.mat-row.selected {
    background: #dddddd;
}

.mat-header-cell {
    font-size: 18px;
}

.notification-header-image {
    background-image: url('/assets/img/notifications.png');
    background-size: cover;
}