<div class="tcs-home-content" fxLayout="column" fxFlex="grow" fxLayoutAlign="start stretch"
  style="padding-left: 20px; padding-right: 20px; margin-top: 10px;">

  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-form-field fxFlex="40%">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter Device Groups">
    </mat-form-field>
  </div>

  <div fxLayout="column" fxLayoutGap="20px" style="height: 100%;">
    <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="space-between stretch" style="min-height: 300px">
      <mat-card fxFlex="40%">
        <mat-card-header>
          <div mat-card-avatar class="gateway-header-image"></div>
          <mat-card-title>Device Groups</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="table-container mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>

              <!-- Created Column -->
              <ng-container matColumnDef="created">
                <th mat-header-cell *matHeaderCellDef> Created </th>
                <td mat-cell *matCellDef="let gateway"> {{gateway.createdts | date: dateFormat}} </td>
              </ng-container>

              <!-- Updated Column -->
              <ng-container matColumnDef="updated">
                <th mat-header-cell *matHeaderCellDef> Updated </th>
                <td mat-cell *matCellDef="let gateway"> {{gateway.updatedts | date: dateFormat}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="uuid">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let gateway"> {{gateway.uuid}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row)"
                [ngClass]="{'selected': selection.isSelected(row) }">
              </tr>
            </table>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card fxFlex>
        <mat-card-header>
          <div mat-card-avatar class="gateway-location-image"></div>
          <mat-card-title>Device Group Locations</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-maporama [mapConfig]="mapConfig">
          </app-maporama>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxLayout="row" fxLayoutGap="15px" style="min-height: 300px">
      <mat-card fxFlex>
        <mat-card-header>
          <div mat-card-avatar class="gateway-header-image"></div>
          <mat-card-title>Device Group Details</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="gatewayForm" class="gateway-form" fxLayout="row wrap" fxLayoutGap="15px">

            <div fxLayout="column" fxFlex="40%" fxFlexFill>
              <mat-form-field appearance="outline">
                <mat-label>Device Group Id</mat-label>
                <input matInput formControlName="uuid" placeholder="Enter group's id">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description" placeholder="Enter group's description"
                  style="height: 100px;"></textarea>
              </mat-form-field>
            </div>
            <div fxLayout="column" fxFlex="40%">
              <mat-form-field fxFlex="30%" appearance="outline">
                <mat-label>Address</mat-label>
                <input matInput formControlName="address" placeholder="Enter group's connection IP Address">
              </mat-form-field>
              <mat-form-field fxFlex="30%" appearance="outline">
                <mat-label>Latitude</mat-label>
                <input matInput formControlName="latitude" placeholder="Enter device group's latitude">
              </mat-form-field>
              <mat-form-field fxFlex="30%" appearance="outline">
                <mat-label>Longitude</mat-label>
                <input matInput formControlName="longitude" placeholder="Enter device group's longitude">
              </mat-form-field>
              <mat-form-field fxFlex="60%" appearance="outline">
                <mat-label>Access Token</mat-label>
                <input matInput placeholder="Enter device group's access token" [readonly]=false
                  [type]="hideAccessToken ? 'password' : 'text'" formControlName="accessToken">
                <button mat-icon-button matSuffix (click)="hideAccessToken = !hideAccessToken"
                  [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideAccessToken">
                  <mat-icon>{{hideAccessToken ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
            </div>


            <!-- 
            <div fxLayout="row" fxFlex="100%" fxLayoutGap="15px">
              <mat-form-field fxFlex="30%" appearance="outline">
                <mat-label>Gateway Id</mat-label>
                <input matInput formControlName="uuid" placeholder="Enter gateway's id">
              </mat-form-field>
              <mat-form-field fxFlex="30%" appearance="outline">
                <mat-label>Description</mat-label>
                <input matInput formControlName="description" placeholder="Enter gateway's description">
              </mat-form-field>
            </div>
            <div fxLayout="row" fxFlex="100%" fxLayoutGap="15px">
              <mat-form-field fxFlex="30%" appearance="outline">
                <mat-label>Address</mat-label>
                <input matInput formControlName="address" placeholder="Enter gateway's IP Address">
              </mat-form-field>
              <mat-form-field fxFlex="30%" appearance="outline">
                <mat-label>Latitude</mat-label>
                <input matInput formControlName="latitude" placeholder="Enter gateway's latitude">
              </mat-form-field>
              <mat-form-field fxFlex="30%" appearance="outline">
                <mat-label>Longitude</mat-label>
                <input matInput formControlName="longitude" placeholder="Enter gateway's longitude">
              </mat-form-field>
            </div>
            <div fxLayout="row" fxFlex="100%" fxLayoutGap="15px">
              <mat-form-field fxFlex="60%" appearance="outline">
                <mat-label>Access Token</mat-label>
                <input matInput placeholder="Enter gateway's access token" [readonly]=false
                  [type]="hideAccessToken ? 'password' : 'text'" formControlName="accessToken">
                <button mat-icon-button matSuffix (click)="hideAccessToken = !hideAccessToken"
                  [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideAccessToken">
                  <mat-icon>{{hideAccessToken ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
            </div> -->

          </form>

        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="addGateway()" color="primary">Add Gateway</button>
          <button mat-raised-button [disabled]="subscriptionDisabled" (click)="updateGateway()" color="primary">Update
            Gateway</button>
          <button mat-raised-button [disabled]="subscriptionDisabled" (click)="deleteGateway()" color="primary">Remove
            Gateway</button>
          <button mat-raised-button [disabled]="subscriptionDisabled" (click)="pingGateway()" color="primary">Ping
            Gateway</button>
          <button mat-raised-button [disabled]="subscriptionDisabled"
            [routerLink]="['/starterApp/home/gatewaysubscription', selectedGateway]"
            color="primary">Subscriptions</button>
          <button mat-raised-button [disabled]="publisherDisabled"
            [routerLink]="['/starterApp/home/gatewaypublisher', selectedGateway]" color="primary">Data Publishers</button>
          <button mat-raised-button [disabled]="dataPipelineDisabled"
            [routerLink]="['/starterApp/home/datapipeline', selectedGateway]" color="primary">Data Pipeline</button>
        </mat-card-actions>
      </mat-card>
    </div>

  </div>

</div>