<tc-tibco-cloud-configuration [baseRoute]="'starterApp/configuration/'" [configMenuPages]="configMenuPages"  (routeAction)="handleRouteAction($event)">
  <!--  You can project buttons into the navbar here (note must use 'customToolbarContent' attribute to tag content to be projected into toolbar) -->
    <!--mat-button-toggle-group customToolbarContent name="view" (change)="handleToolbarButtonEvent($event)">
      <mat-button-toggle
                         value="Projected Button">'Projected Button2'</mat-button-toggle>
    <mat-button-toggle
      value="Projected Button2">'Projected Button2'</mat-button-toggle>
    </mat-button-toggle-group-->
</tc-tibco-cloud-configuration>
