<div class="tcs-home-content" fxLayout="column" fxFlex="grow" fxLayoutAlign="start stretch"
  style="padding-left: 20px; padding-right: 20px; margin-top: 10px;">

  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px">
    <mat-form-field fxFlex="1 1 18%" appearance="outline">
      <mat-label>Select a Gateway</mat-label>
      <mat-select [(value)]="gatewayIdSelected" (selectionChange)="onGatewaySelected($event)">
        <mat-option *ngFor="let item of gatewayList; let i = index" [value]="i">
          {{item.uuid}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex="1 1 40%" appearance="outline">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter Devices">
    </mat-form-field>
  </div>

  <div fxLayout="column" fxLayoutGap="20px" style="height: 100%;">

    <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="space-between stretch"
      style="min-height:300px; max-height: 300px ">
      <mat-card fxFlex>
        <mat-card-header>
          <div mat-card-avatar class="device-header-image"></div>
          <mat-card-title>Devices</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="table-container mat-elevation-z8">
            <table mat-table [dataSource]="devicesDataSource" matSort>

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let device"> {{device.name}} </td>
              </ng-container>

              <!-- Id Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let device"> {{device.id}} </td>
              </ng-container>

              <!-- Operating State Column -->
              <ng-container matColumnDef="operatingState">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Operating State </th>
                <td mat-cell *matCellDef="let device"> {{device.operatingState}} </td>
              </ng-container>

              <!-- Admin State Column -->
              <ng-container matColumnDef="adminState">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Admin State </th>
                <td mat-cell *matCellDef="let device"> {{device.adminState}} </td>
              </ng-container>

              <!-- Description Column -->
              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                <td mat-cell *matCellDef="let device"> {{device.description}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="deviceDisplayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: deviceDisplayedColumns;" (click)="onDeviceClicked(row)"
                [ngClass]="{'selected': deviceSelection.isSelected(row) }">
              </tr>
            </table>
          </div>
        </mat-card-content>
      </mat-card>

    </div>


    <div  fxLayout="row" fxLayoutGap="15px" style="min-height:200px; max-height: 300px ">
      <mat-card fxFlex>
        <mat-card-header>
          <div mat-card-avatar class="device-header-image"></div>
          <mat-card-title>Instruments Summary</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <div *ngIf="summaryView" style="width: 100%; margin: 0 auto;">
            <app-iot-device-summary [config]="deviceOverview">
            </app-iot-device-summary>
          </div>

        </mat-card-content>

      </mat-card>
    </div>

    <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="space-between stretch"
      style="min-height:300px; max-height: 300px ">

      <mat-card fxFlex>
        <mat-card-header>
          <div mat-card-avatar class="device-header-image"></div>
          <mat-card-title>Instruments</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="table-container mat-elevation-z8">
            <table mat-table [dataSource]="resourcesDataSource" matSort>

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let resource"> {{resource.name}} </td>
              </ng-container>

              <!-- Description Column -->
              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                <td mat-cell *matCellDef="let resource"> {{resource.description}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="resourceDisplayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: resourceDisplayedColumns;" (click)="onResourceClicked(row)"
                [ngClass]="{'selected': resourceSelection.isSelected(row) }">
              </tr>
            </table>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div fxLayout="row" fxLayoutGap="15px">
      <mat-card fxFlex>
        <mat-card-header>
          <div mat-card-avatar class="device-header-image"></div>
          <mat-card-title>Instrument Details</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <form [formGroup]="instrumentForm" class="instrument-form" fxLayout="row wrap" fxLayoutGap="15px">
            <mat-form-field fxFlex="15%" appearance="outline">
              <mat-label>Value Type</mat-label>
              <input matInput [readonly]=true formControlName="valueType">
            </mat-form-field>
            <mat-form-field fxFlex="15%" appearance="outline">
              <mat-label>Permission</mat-label>
              <input matInput [readonly]=true formControlName="valueReadWrite">
            </mat-form-field>
            <mat-form-field fxFlex="15%" appearance="outline">
              <mat-label>Minimun Value</mat-label>
              <input matInput [readonly]=true formControlName="valueMinimum">
            </mat-form-field>
            <mat-form-field fxFlex="15%" appearance="outline">
              <mat-label>Maximun Value</mat-label>
              <input matInput [readonly]=true formControlName="valueMaximum">
            </mat-form-field>
            <mat-form-field fxFlex="15%" appearance="outline">
              <mat-label>Default Value</mat-label>
              <input matInput [readonly]=true formControlName="valueDefault">
            </mat-form-field>
            <mat-form-field fxFlex="15%" appearance="outline">
              <mat-label>Unit</mat-label>
              <input matInput [readonly]=true formControlName="valueUnit">
            </mat-form-field>
            <mat-form-field fxFlex="15%" appearance="outline">
              <mat-label>Interface</mat-label>
              <input matInput [readonly]=true formControlName="interface">
            </mat-form-field>
            <mat-form-field fxFlex="15%" appearance="outline">
              <mat-label>Pin Number</mat-label>
              <input matInput [readonly]=true formControlName="interfacePinNumber">
            </mat-form-field>
            <mat-form-field fxFlex="15%" appearance="outline">
              <mat-label>Type</mat-label>
              <input matInput [readonly]=true formControlName="interfaceType">
            </mat-form-field>
          </form>

        </mat-card-content>

      </mat-card>
    </div>

    <div *ngIf="timeSeriesResource" fxLayout="row" fxLayoutGap="15px" style="min-height: 300px">
      <mat-card fxFlex>
        <mat-card-header>
          <div mat-card-avatar class="instrument-history-image"></div>
          <mat-card-title>Intrument Readings History</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="space-around center center">
            <form [formGroup]="instrumentForm" class="instrument-form" fxLayout="row wrap" fxLayoutGap="15px">

              <mat-form-field fxFlex="20%" appearance="fill">
                <input matInput [disabled]="queryLastValuesDisabled" [matDatepicker]="pickerStartDate"
                  placeholder="Choose start date" (dateChange)="startDateEvent($event)">
                <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
                <mat-datepicker #pickerStartDate></mat-datepicker>
              </mat-form-field>

              <mat-form-field fxFlex="20%" appearance="fill">
                <input matInput [disabled]="queryLastValuesDisabled" [matDatepicker]="pickerEndDate"
                  placeholder="Choose end date" (dateChange)="endDateEvent($event)">
                <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
                <mat-datepicker #pickerEndDate></mat-datepicker>
              </mat-form-field>

              <div class="query-row">
                <button mat-raised-button [disabled]="queryByDateDisabled" (click)="onQueryByDateClicked()"
                  color="primary">Query By Date</button>
                <button mat-raised-button [disabled]="queryLastValuesDisabled" (click)="onQueryLastValuesClicked()"
                  color="primary">Query Last 300 Values</button>
              </div>
            </form>
          </div>

          <canvas baseChart [datasets]="chartDatasets" [options]="chartOptions" [legend]="chartLegend"
            [chartType]="chartType">
          </canvas>
        </mat-card-content>
      </mat-card>
    </div>

    <div *ngIf="timeSeriesResource" fxLayout="row" fxLayoutGap="15px" style="min-height: 300px">
      <mat-card fxFlex>
        <mat-card-header>
          <div mat-card-avatar class="instrument-streaming-image"></div>
          <mat-card-title>Intrument Readings Streaming</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <canvas baseChart [datasets]="chartStreamingDatasets" [options]="chartStreamingOptions"
            [legend]="chartStreamingLegend" [chartType]="chartType">
          </canvas>
        </mat-card-content>
      </mat-card>
    </div>


    <div *ngIf="mapResource" fxLayout="row" fxLayoutGap="15px" style="min-height: 300px">
      <mat-card fxFlex>
        <mat-card-header>
          <div mat-card-avatar class="gateway-location-image"></div>
          <mat-card-title>Device Locations</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-maporama [mapConfig]="mapConfig">
          </app-maporama>
        </mat-card-content>
      </mat-card>
    </div>

    <div *ngIf="discreteValueResource" fxLayout="row" fxLayoutGap="15px" style="min-height: 300px">
      <mat-card fxFlex>
        <mat-card-header>
          <div mat-card-avatar class="gateway-location-image"></div>
          <mat-card-title>Timeline</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <google-chart [data]="timelineChartData" style="width: 100%;"></google-chart>
        </mat-card-content>
      </mat-card>
    </div>

  </div>
</div>