<div class="tcs-home-content" fxLayout="column" fxFlex="grow" fxLayoutAlign="start stretch"
    style="padding-left: 20px; padding-right: 20px; margin-top: 10px;">

    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px" style="min-height: 300px">
        <mat-card fxFlex>
            <mat-card-header>
                <div mat-card-avatar class="device-provisioning-image"></div>
                <mat-card-title>Device Provisioning</mat-card-title>
            </mat-card-header>
            <mat-card-content>

                <form [formGroup]="provisionForm" class="instrument-form" fxLayout="row wrap" fxLayoutGap="15px">

                    <div fxLayout="row" fxFlex="100%" fxLayoutGap="15px">
                        <mat-form-field fxFlex="1 1 18%" appearance="outline">
                            <mat-label>Select a Gateway</mat-label>
                            <mat-select formControlName="deviceGateway" (selectionChange)="onGatewaySelected($event)">
                                <mat-option *ngFor="let item of gatewayList; let i = index" [value]="i">
                                    {{item.uuid}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="1 1 18%" appearance="outline">
                            <mat-label>Select Device Profile</mat-label>
                            <mat-select formControlName="deviceProfile">
                                <mat-option *ngFor="let item of profileList" [value]="item.value">
                                    {{item.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="1 1 18%" appearance="outline">
                            <mat-label>Select Device Service</mat-label>
                            <mat-select formControlName="deviceService">
                                <mat-option *ngFor="let item of serviceList" [value]="item.value">
                                    {{item.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxFlex="100%" fxLayoutGap="15px">
                        <mat-form-field fxFlex="1 1 18%" appearance="outline">
                            <mat-label>Device Name</mat-label>
                            <input matInput [readonly]=false formControlName="deviceName">
                        </mat-form-field>
                        <mat-form-field fxFlex="1 1 18%" appearance="outline">
                            <mat-label>Description</mat-label>
                            <input matInput [readonly]=false formControlName="description">
                        </mat-form-field>
                        <mat-form-field fxFlex="1 1 18%" appearance="outline">
                            <mat-label>Labels</mat-label>
                            <input matInput [readonly]=false formControlName="labels">
                        </mat-form-field>
                        <mat-form-field fxFlex="1 1 18%" appearance="outline">
                            <mat-label>Location</mat-label>
                            <input matInput [readonly]=false formControlName="location">
                        </mat-form-field>
                    </div>
                    <div fxLayout="row wrap" fxFlex="100%" fxLayoutGap="15px">

                        <mat-form-field fxFlex="1 1 18%" appearance="outline">
                            <mat-label>Protocol Type</mat-label>
                            <input matInput [readonly]=false formControlName="protocolSchema">
                        </mat-form-field>
                        <mat-form-field fxFlex="1 1 18%" appearance="outline">
                            <mat-label>Protocol Host</mat-label>
                            <input matInput [readonly]=false formControlName="protocolHost">
                        </mat-form-field>
                        <mat-form-field fxFlex="1 1 18%" appearance="outline">
                            <mat-label>Protocol Port</mat-label>
                            <input matInput [readonly]=false formControlName="protocolPort">
                        </mat-form-field>
                        <mat-form-field fxFlex="1 1 18%" appearance="outline">
                            <mat-label>Protocol Topic</mat-label>
                            <input matInput [readonly]=false formControlName="protocolTopic">
                        </mat-form-field>
                    </div>
                    <div fxLayout="row wrap" fxFlex="100%" fxLayoutGap="15px">
                        <mat-form-field fxFlex="1 1 18%" appearance="outline">
                            <mat-label>Protocol Client Id</mat-label>
                            <input matInput [readonly]=false formControlName="protocolClientId">
                        </mat-form-field>
                        <mat-form-field fxFlex="1 1 18%" appearance="outline">
                            <mat-label>Protocol User</mat-label>
                            <input matInput [readonly]=false formControlName="protocolUser">
                        </mat-form-field>
                        <mat-form-field fxFlex="1 1 18%" appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput placeholder="Enter your password" [readonly]=false
                                [type]="hidePassword ? 'password' : 'text'" formControlName="protocolPassword">
                            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>



                </form>

            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button (click)="addDevice()" color="primary">Add Device</button>
                <button mat-raised-button (click)="deleteDevice()" color="primary">Remove Device</button>

            </mat-card-actions>

        </mat-card>
    </div>
</div>