
.mat-divider {
    display: block;
    margin: 0px;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: #3F51B5;
 }

 .mat-h3 {
     margin-bottom: 2px;
 }

.mat-checkbox {
    padding-top: 15px;
    margin-top: 15px;
}

.mat-label {
    padding-top: 15px;
    margin-top: 15px;
}





.table-container {
    overflow: auto;
    height: 300px;
}
  
table {
    width: 100%;
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}
  
.mat-row.selected {
    background: #dddddd;
}

.mat-header-cell {
    font-size: 18px;
}

.rule-header-image {
    background-image: url('/assets/icons/rules.svg');
    background-size: 60%;
    background-repeat: no-repeat;
}

.query-row button {
  margin-right: 8px;
  margin-top: 8px;
  margin-left: 10px;
}