<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="60px">
    <button *ngIf="showLabelResource1" mat-raised-button color="primary" style="white-space:pre-wrap;height: 150px;">{{buttonLabel1}}</button>
    <button *ngIf="showLabelResource2" mat-raised-button color="primary" style="white-space:pre-wrap;height: 150px;">{{buttonLabel2}}</button>
    <button *ngIf="showLabelResource3" mat-raised-button color="primary" style="white-space:pre-wrap;height: 150px;">{{buttonLabel3}}</button>

    <img *ngIf="showImageResource1" src="/assets/img/{{imageName1}}.png">
    <img *ngIf="showImageResource2" src="/assets/img/{{imageName2}}.png">
    <img *ngIf="showImageResource3" src="/assets/img/{{imageName3}}.png">

    <div *ngIf="showGaugeResource1">
        <google-chart [data]="gaugeChartData1"></google-chart>
    </div>
    <div *ngIf="showGaugeResource2">
        <google-chart [data]="gaugeChartData2"></google-chart>
    </div>
    <div *ngIf="showGaugeResource3">
        <google-chart [data]="gaugeChartData3"></google-chart>
    </div>

</div>